:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --icon-color: #afb1b8;
  --logo-color: #000000;
  --secondary-background: #f5f4fa;
  --border-color-card: #eeeeee;
  --footer-background: #2f303a;
  --footer-form: rgba(255, 255, 255, 0.3);
  --secondary-footer-color: rgba(255, 255, 255, 0.6);
  --background-description: rgba(47, 48, 58, 0.8);
  --border-bottom: #ececec;
  --backdrop-color: rgba(0, 0, 0, 0.1);
  --border-input: rgba(33, 33, 33, 0.2);
  --animation-duration: 250ms;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font-family: roboto, sans-serif;
  --secondary-font-family: raleway;

  --primary-font-size: 14px;
  --logo-font-size: 26px;
  --hero-font-size: 44px;
  --modal-sec-font-size: 20px;
  --modal-primary-font-size: 12px;
  --title-font-size: 36px;
  --secondary-font-size: 16px;
  --overlay-font-size: 18;

  --primary-line-height: 1.14;
  --hero-title-line-height: 1.36;
  --line-height-logo: 1.19;
  --title-line-height: 1.17;
  --button-line-height: 1.87;
  --address-line-height: 1.71;
  --card-title-line-height: 2;
  --placeholder-line-height: 1.25;
  --modal-title-line-height: 1.15;
  --overlay-line-height: 1.56;

  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --third-font-weight: 700;
  --hero-font-weight: 900;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: var(--primary-font-family);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* утилита list для сброса маркеров в списках */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.section {
  display: flex;
  /* display: block; */
  padding: 94px 0;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

/* Оформление хедера */
.page-header__section {
  padding: 0;
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

/* Оформление логотипа хедера */
.logo {
  color: var(--logo-color);

  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: var(--accent-color);
}

.main-nav__logo {
  margin-right: 93px;
}

/* Блок меню навигации.  */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav,
.contacts {
  display: flex;
  font-weight: 500;
  font-size: var(--primary-font-size: 14px);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--animation-duration var(--animation-type);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  left: 0;

  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity var(--animation-duration) var(--animation-type);
}

.site-nav__link--current::after,
.site-nav__link:hover::after,
.site-nav__link:focus::after {
  opacity: 1;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

/* Блок контактов хедера */
.contacts__item {
  margin-right: 50px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  list-style: none;
  transition: color var(--animation-duration) var(--animation-type);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Секция герой*/
.hero {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero__container {
  display: block;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  color: var(--primary-white-color);

  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* 
.hero__title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */

/* Блок Button */
.button {
  display: inline-flex;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* иконка кнопки в футере */
.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* Секция features, заголовок скрыт */
.features {
  display: block;
  padding: 94px 0;
  margin: 0 auto;
}

.features__list {
  display: flex;
  padding: 0;
  margin: 0 -15px;
}

.features__item {
  margin: 0 15px;
}

.features__title {
  margin-bottom: 10px;
}

/* Блок картинка с описанием */
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.picture__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.picture__text {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.picture__icon {
  height: 70px;
  width: 70px;

  fill: currentColor;
}

.title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Секция-3 description */
.section__description {
  padding-top: 0;
  padding-bottom: 94px;
}

.description {
  display: flex;
  margin-top: 0;
  margin: 0 -15px;
}

.description__item {
  position: relative;
  margin: 0 15px;
}

.description__title {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--background-description);
}

/* Секция-4 team */
.section__team {
  background-color: var(--secondary-background);
}
.team {
  display: flex;
  padding: 0;
  margin: 0 -15px;
}
/* Блок карточек команды */

.card {
  padding: 30px 32px;
  background: var(--primary-white-color);
  border: 1px solid var(--border-color-card);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team__item {
  width: 270px;
  margin: 0 15px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
}

.card__text {
  margin-top: 0;
  margin-bottom: 16px;

  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Блок социальных сетей */
.social {
  display: flex;
}

.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-color);
  fill: currentColor;

  transition: fill var(--animation-duration) var(--animation-type),
    background-color var(--animation-duration) var(--animation-type);
}

.social__link:hover,
.social__link:focus {
  color: var(--primary-white-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.social__icon {
  height: 20px;
  width: 20px;

  fill: currentColor;
}

.social__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients {
  display: flex;
  padding: 0;
  margin: 0 -15px;
}

.clients__logo {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 15px;

  fill: currentColor;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--icon-color);
  /* fill: currentColor; */
  transition: color var(--animation-duration) var(--animation-type),
    border var(--animation-duration) var(--animation-type);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Блок footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background);
}

.container__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__content {
  display: block;
  margin-right: 70px;
}

.footer__logo {
  color: var(--primary-white-color);
}

.location {
  margin-top: 20px;
  margin-bottom: 9px;

  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__link {
  color: var(--secondary-footer-color);

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--animation-duration) var(--animation-type);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

.footer__.item:not(:last-child) {
  margin-bottom: 9px;
}

.follow-us {
  margin-right: 93px;
}

.follow-us__text,
.send-form__text {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.follow-us__social {
  margin-bottom: 20px;
}

.follow-us__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-white-color);
}

.follow-us__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--animation-duration) var(--animation-type);
}

.follow-us__link:hover,
.follow-us__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.follow-us__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.send-form__email {
  display: inline-flex;
  align-items: center;
}

.send-form__input {
  width: 358px;
  height: 50px;
  background-color: var(--footer-background);
  border: 1px solid var(--footer-form);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 256px 15px 16px;
  margin-right: 12px;

  color: var(--secondary-footer-color);
}

.send-form__email input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* CSS Portfolio */
.buttons__button-radio {
  padding: 6px 22px;
  cursor: pointer;

  background-color: var(--secondary-background);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 1px transparent;
  letter-spacing: 0.03em;

  transition: color var(--animation-duration) var(--animation-type),
    background-color var(--animation-duration) var(--animation-type);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons__item {
  margin-right: 8px;
}

.buttons__item:last-child {
  margin-right: 0;
}

.buttons__button-radio:hover,
.buttons__button-radio:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  display: block;
  width: 370px;
  margin: 15px;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;
  transform: translateX(0) translateY(100%);
  padding-top: 63px;
  padding-right: 23px;
  padding-left: 23px;
  padding-bottom: 63px;
  transition: transform var(--animation-duration) var(--animation-type);
}

.portfolio__link:hover .image-overlay,
.portfolio__link:focus .image-overlay {
  transform: translateX(0) translateY(0);
}

.image-overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  margin: 0;
}

.portfolio__image {
  display: block;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  height: 404px;
  width: 370px;
  border: 1px solid var(--border-color-card);
  overflow: hidden;
  cursor: pointer;

  color: var(--primary-text-color);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-overlay__border {
  padding: 20px 24px;
  background: var(--primary-white-color);
  border: 1px solid var(--border-color-card);
}

.image-overlay__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.image-overlay__text-second {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: block;
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
  padding: 40px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid var(--backdrop-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
  transition: fill var(--animation-duration) var(--animation-type);
}

.modal__button:hover,
.modal__button:focus {
  fill: var(--accent-color);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
}

.modal__form {
  position: absolute;
  display: block;
  width: 448px;
  top: 40px;
}

.modal__item {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  padding: 0;

  color: var(--primary-text-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  cursor: pointer;
  transition: border var(--animation-type) var(--animation-duration);
}

.modal__input:hover,
.modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__input:hover ~ .modal__icon,
.modal__input:focus ~ .modal__icon {
  fill: var(--accent-color);
}

.modal__contact-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 21px;
  fill: var(--title-text-color);
  transition: fill var(--animation-duration) var(--animation-type);
}

.modal__comments-area {
  width: 448px;
  height: 120px;
  cursor: pointer;

  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border var(--animation-duration) var(--animation-type);
}

.modal__comments-area:hover,
.modal__comments-area:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__contact-area textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0;
}

.checkbox__text-terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-color);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__input:checked + .checkbox__icon {
  border: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  transition: background-color var(--animation-duration) var(--animation-type);
}

.checkbox__button {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
